<a href="https://colab.research.google.com/github/sanyhmahadi/Mortgage_Payment_Starter_App/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
si = "Our AI course teacher name is Khusbo Mam"
print(len(si))
si[15]

40

'e'

In [44]:
si[-12]

's'

In [47]:
si[1:38]

'ur AI course teacher name is Khusbo M'

In [52]:
def sum(num1,num2):
  total = num1+num2
  return total
num1 = int(input("Enter 1st number: "))
num2 = int(input("Enter 2nd number: "))
total = sum(num1,num2)
print("The sum is : ",total)

Enter 1st number: 5
Enter 2nd number: 5
The sum is :  10

In [ ]:
def divisor(x,y,m):
  if x%m==0 and y%m==0:
    print("%d & %d are divide by %d"%(x,y,m))
  elif x%m == 0:
    print("only %d is divided by %d"%(x,m))
  elif y%m == 0:
    print("only %d is divided by %d"%(y,m))
  else:
    print("none of %d & %d is divided %d"%(x,y,m))

In [54]:
divisor(80,530,5)
divisor(125,205,5)
divisor(101,222,5)
divisor(31,50,3)

80 & 530 are divide by 5
125 & 205 are divide by 5
none of 101 & 222 is divisible 5
none of 31 & 50 is divisible 3

In [26]:
def sum():
  a = 3+8
  return a
b = sum()
print(b)

11

In [27]:
def check(a=0):
  if a==0:
    print("zero")
  elif a>0:
    print("positive")
  else:
    print("negative")

In [ ]:
check()
check(-4)
check(4)

In [38]:
def local_scope():
  a=7
  print(a)


local_scope()
print(a)

7
None

In [41]:
def global_scope():
  global x
  x = 10
global_scope()
print(x)

10